option_settings:
  # 1. WSGI PATH (El corazón de la app)
  aws:elasticbeanstalk:container:python:
    WSGIPath: cardiac_analyzer.wsgi:application
# Comandos que se ejecutan durante el despliegue
container_commands:
  # 01_migrate: (Corre las migraciones)
  01_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
    leader_only: true 
  02_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true