option_settings:
  # 1. Le dice a EB dónde está tu archivo WSGI
  aws:elasticbeanstalk:container:python:
    WSGIPath: cardiac_analyzer.wsgi:application

  # 2. Le dice a EB que corra 'collectstatic' en cada despliegue
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: staticfiles/ # El directorio que definiste en STATIC_ROOT

# Comandos para ejecutar en el servidor
container_commands:
  # 01_migrate: Corre las migraciones de la base de datos
  01_migrate:
    # Activa el entorno virtual de AWS y corre migrate
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
    leader_only: true 